<!-- Filename: index.hbs -->
<html>
<head>
    <title>Burdown Chart in AngularJS</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/ng-table.min.css"/>
    
    <!-- Bootstrap + Angular + Libs JavaScript -->
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/ng-table.min.js"></script>
</head>

<body class="container" data-ng-app="burdown">

<div data-table ng-controller="TableController">
	Loading Table
	<table ng-table="tableParams" class="table"> 
		<tr ng-repeat="d in $data">	
			<td data-title="'ID'" sortable="'id'">{{d._id}}</tr>
			<td data-title="'Points'" sortable="'points'">{{d.attPoints}}</tr>
			<td data-title="'Date'" sortable="'date'">{{d.attDate}}</tr>
		</tr>
	</table>
</div>

<div data-chart ng-controller="ChartController as chart">
	Loading Burdown Chart...
</div>

<script src="js/core.js"></script>
</body>
</html>